body {
    color: black;
    background: skyblue;
    margin: 0px;
    font-family: "Abril Fatface", serif;
}

header {
    border-bottom: solid 2px blue;
    padding: 10px;
    font-size: 28px;
    background: #007cff91;
    display: flex;
    justify-content: center;
}

section {
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}